<p>NGDS Forms are a collection of UI input components that enhance the existing Angular Forms functionality.
</p>
<pre class="border rounded px-3 py-1"><code class="p-0" [highlight]="installCode"></code></pre>
<p>
  NGDS Forms uses <code>bootstrap</code>, and <code>bootstrap-icons</code> as peer
  dependencies.
</p>
<pre class="border rounded px-3 py-1"><code class="p-0" [highlight]="peerDepCode"></code></pre>
<p>At a
  minimum, you must provide every NGDS input with an Angular <code>AbstractControl</code> or derivative. All other
  attributes are optional. You can manage the value, state, and other form logic from the <code>AbstractControl</code>
  in TypeScript realm, and the NGDS Forms will adapt in HTML.</p>
<pre class="border rounded px-3 py-1"><code class="p-0" [highlight]="moduleCode"></code></pre>
<section>
  <div class="row my-3">
    <div class="col">
      <ngds-nav-card #text [headerText]="'Text Input'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Basic textual inputs.'" [navigation]="'forms/text'">
      </ngds-nav-card>
    </div>
    <div class="col">
      <ngds-nav-card #text [headerText]="'Number Input'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Numerical inputs.'" [navigation]="'forms/numbers'">
      </ngds-nav-card>
    </div>
    <div class="col">
      <ngds-nav-card #picklist [headerText]="'Picklists'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Select from a list of pre-defined options.'"
        [navigation]="'forms/picklist'">
      </ngds-nav-card>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <ngds-nav-card #typeahead [headerText]="'Typeaheads'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'"
        [bodyText]="'Use typeahead to search and select from a list of pre-defined options.'"
        [navigation]="'forms/typeahead'">
      </ngds-nav-card>
    </div>
    <div class="col">
      <ngds-nav-card #multiselect [headerText]="'Multiselects'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Picklist & typeahead multiselect inputs.'"
        [navigation]="'forms/multiselect'">
      </ngds-nav-card>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <ngds-nav-card #datepicker [headerText]="'Datepickers'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Picklist & typeahead multiselect inputs.'"
        [navigation]="'forms/datepicker'">
      </ngds-nav-card>
    </div>
    <div class="col">
      <ngds-nav-card #rangepicker [headerText]="'Rangepickers'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Picklist & typeahead multiselect inputs.'"
        [navigation]="'forms/rangepicker'">
      </ngds-nav-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngds-nav-card #checkbox [headerText]="'Toggles'" [headerClasses]="'bg-dark text-light'"
        [buttonClasses]="'bg-dark text-light'" [bodyText]="'Checkboxes and switches'"
        [navigation]="'forms/toggle'">
      </ngds-nav-card>
    </div>
    <div class="col">
    </div>
  </div>