<div class="navbar bg-light p-3 mb-3">
  <h2 (click)="navTo('forms')">NGDS Forms</h2>
  <ul>
      <button class="btn btn-dark me-2" (click)="navTo('forms/text')">Text</button>
      <button class="btn btn-dark me-2" (click)="navTo('forms/picklist')">Picklists</button>
      <button class="btn btn-dark me-2" (click)="navTo('forms/typeahead')">Typeahead</button>
      <button class="btn btn-dark me-2" (click)="navTo('forms/multiselect')">Multiselect</button>
      <button class="btn btn-dark me-2" (click)="navTo('forms/datepicker')">Datepicker</button>
      <button class="btn btn-dark me-2" (click)="navTo('forms/rangepicker')">Rangepicker</button>
  </ul>
</div>
<section class="max-height">
<router-outlet></router-outlet>
</section>