<div class="row">
  <div class="col">
    <ngds-nav-card #common
      [headerText]="'Common Components'"
      [headerClasses]="'bg-dark text-light'"
      [buttonClasses]="'bg-dark text-light'"
      [titleText]="'NGDS Common Components'"
      [bodyText]="'Commonly used components imported with ngds-common-components.'"
      [navigation]="'common-components'">
    </ngds-nav-card>
  </div>
  <div class="col">
    <ngds-nav-card #forms
      [headerText]="'Forms'"
      [headerClasses]="'bg-dark text-light'"
      [buttonClasses]="'bg-dark text-light'"
      [titleText]="'NGDS Forms'"
      [bodyText]="'NGDS form engine imported with ngds-common-components.'"
      [navigation]="'forms'">
    </ngds-nav-card>
  </div>
</div>